[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.205"
python-decouple = "==3.8"
openai = "==0.27.8"

[dev-packages]

[requires]
python_version = "3.11"
